{% load cart_template_tags %}
  <!-- Navbar -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
    <div class="container">

      <!-- Brand -->
      <a class="navbar-brand waves-effect" href="{% url 'home' %}">
        <strong class="blue-text">BIKE HUB</strong>
      </a>

      <!-- Collapse -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Links -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!-- Left -->
        <ul class="navbar-nav mr-auto">
  
        </ul>

        <!-- Right -->
        {% if user.is_authenticated %}
        <ul class="navbar-nav nav-flex-icons">
          <li class="nav-item">
          <a class="nav-link waves-effect" href="{% url 'logout' %}">
            <span class="clearfix d-none d-sm-inline-block"> Logout </span>
          </a>
          </li>
        </ul>
          {% else %}

            <a class="nav-link waves-effect" href="{% url 'login' %}">
              <span class="clearfix d-none d-sm-inline-block"> Login </span>
            </a>
            <a class="nav-link waves-effect" href="{% url 'register' %}">
              <span class="clearfix d-none d-sm-inline-block"> Signup </span>
            </a>
          {% endif %}

      </div>

    </div>
  </nav>
  <!-- Navbar -->
